@use "../abstract/" as *;

.featured-news {
  &__image > img {
    width: 100%;
    vertical-align: middle;
  }

  &__title {
    margin-block: 1.3rem 0;
    font-size: $fs-750;
    font-weight: 800;
    line-height: 1;
    color: $clr-neutral-400;
  }

  &__extract {
    margin-block: 0.75rem 1.5rem;
    padding-inline-end: 0.4rem;
    font-size: $fs-300;
    line-height: 1.6;
    color: $clr-neutral-300;
  }

  &__more {
    display: block;
    margin-block-end: 3.75rem;
    padding: 1.125rem 2rem;
    width: max-content;
    background-color: $clr-red;
    font-weight: 700;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: $clr-neutral-100;
    transition: background-color 0.2s ease-in-out;
    outline-offset: 4px;

    &:hover,
    &:focus {
      background-color: $clr-neutral-400;
    }
  }
}
