@use "../abstract/" as *;

.most-read {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__news {
    display: flex;
    gap: 1.5rem;

    &__image {
      height: 8.125rem;
      width: auto;
    }

    &__position {
      font-size: $fs-700;
      font-weight: 700;
      color: $clr-neutral-200;
    }

    & > div > a {
      color: $clr-neutral-400;
      transition: color 0.2s ease-in-out;
      outline-offset: 4px;

      &:hover,
      &:focus {
        color: $clr-red;
      }
    }
    &__title {
      font-size: $fs-400;
      margin-block: 0.5rem;
      width: fit-content;
    }

    &__extract {
      font-size: $fs-300;
      margin-block: 0;
      color: $clr-neutral-300;
      line-height: 1.6;
    }
  }
}
