@use "../abstract/" as *;

.new {
  background-color: $clr-neutral-400;
  padding: 1.625rem 1.125rem 1.4rem;
  margin-block-end: 3.8rem;

  &__title {
    line-height: 1;
    margin-block: 0 1.6rem;
    font-size: $fs-700;
    font-weight: 700;
    color: $clr-orange;
  }

  &__item {
    &:not(:last-of-type) {
      padding-block-end: 1.75rem;
      border-bottom: 1px solid $clr-neutral-300;
    }

    &:not(:first-of-type) {
      padding-block-start: 1.75rem;
    }
    & > a {
      color: $clr-neutral-100;
      outline-offset: 4px;
      transition: color 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: $clr-orange;
      }
    }
    &__title {
      width: max-content;
      margin-block: 0 0.5rem;
      font-size: $fs-550;
      font-weight: 700;
    }

    &__extract {
      margin-block: 0;
      line-height: 1.6;
      color: $clr-neutral-200;
    }
  }
}
