@use "abstract/" as *;

body {
  grid-column-gap: 2rem;
}

.main-header {
  align-items: center;
  margin-block-end: 3.1rem;
}

.logo {
  margin-block-end: 0;
  > image {
    height: 2.5rem;
  }
}

#main-menu__close-button,
#main-menu__open-button {
  display: none;
}

.main-menu-wrapper {
  position: relative;
  background-image: none;
}

.main-menu {
  &__items {
    margin-inline-start: 0;
    margin-block-end: 0;
    display: flex;
    gap: 2.4rem;
  }

  &__item {
    padding-block: 0;
    font-size: $fs-550;
    color: $clr-neutral-300;
  }
}

@media screen and (min-width: 50em) {
  .main-menu-wrapper {
    transform: none;
  }
  .featured-news {
    display: grid;
    grid-template-columns: 1fr 46%;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 1.75rem;
    grid-column-gap: 4%;

    &__image {
      grid-column: span 2;
    }

    &__title {
      grid-row: span 2;
      margin-block-start: 0.25rem;
      font-size: clamp($fs-750, 6vw, $fs-800);
    }

    &__extract {
      margin-block: 0;
    }

    &__more {
      margin-block: 0.3rem 3.8rem;
    }
  }
}

@media screen and (min-width: 70em) {
  body {
    padding-block-start: 5.75rem;
    grid-template-columns: 1fr minmax(auto, 730px) minmax(auto, 350px) 1fr;
  }
  .main-header {
    grid-column: 2 / span 2;
  }
  .featured-news {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    &__image {
      grid-column: span 2;
    }

    &__title {
      grid-row: span 2;
    }
  }
  .new {
    grid-row: 2;
    grid-column: 3;
  }

  .most-read {
    grid-row: 3;
    grid-column: 2 / span 2;
    flex-direction: row;
  }
}
